<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="shared/layout">
<head>
  <title>Bootstrap Example</title>
</head>
<body>

 <div layout:fragment="content">
 <a class="btn btn-primary" th:href="@{/create}">Create</a>
 <p></p>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Bdoy</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="obj : ${post}">
			<td th:text=${obj.id}></td>
			<td th:text=${obj.title}></td>
			<td th:text=${obj.body}></td>
			<td>
				<a th:href="@{/edit/{id}(id=${obj.id})}" class= "btn btn-info">Edit</a>
				<a th:href="@{/delete/{id}(id=${obj.id})}" class="btn btn-danger">Delete</a>
			</td>
		</tr>
    </tbody>
  </table>
 </div>
</body>
</html>